/* CSS Document */
body{
/*background:url(../img/fondo.png) no-repeat center center fixed;*/
background:url(../img/rest12.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.titulo{
	color:#FFF;
	font-family: "Lobster", "Times", serif;
	font-size: 2.5em;
	text-shadow: #aaa 2px 2px 2px;
}
.input{
	width:80%;
	height:30px;
	text-align:center;
	background-color:transparent;
	border-radius:10px;
	color:#FFF;
	
}
button{
	border: solid white 1px;
	font-family: "Lobster", "Times", serif;
	font-size: 1em;
}
.welcome{
	color:#FFF;
	font-family: "Lobster", "Times", serif;
	font-size: 1.8em;
	text-shadow: #aaa 2px 2px 2px;
}
.opciones{
	color:#E6E6E6;
	font-size: 1.2em;
	text-decoration:inherit
}
#abre_panel{ 
  position: absolute; 
  background-image: url(../img/menu_btn.png); 
  background-repeat: no-repeat; 
  width: 50px; 
  height: 20px; 
  box-shadow: none; 
  background-color: transparent !important; 
  border: none; 
  top: 0; 
  margin-top: 6px !important; 
} 
#menu
{
background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,0.72) 51%, rgba(216,225,231,0.5) 93%, rgba(224,239,249,0.46) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(51%, rgba(181,198,208,0.72)), color-stop(93%, rgba(216,225,231,0.5)), color-stop(100%, rgba(224,239,249,0.46)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,0.72) 51%, rgba(216,225,231,0.5) 93%, rgba(224,239,249,0.46) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,0.72) 51%, rgba(216,225,231,0.5) 93%, rgba(224,239,249,0.46) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,0.72) 51%, rgba(216,225,231,0.5) 93%, rgba(224,239,249,0.46) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(181,198,208,0.72) 51%, rgba(216,225,231,0.5) 93%, rgba(224,239,249,0.46) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
  color: white;
}
#panel
{
padding-top:45px;
background-color: transparent;
}
.item{
	
	border: solid transparent 1px;
	font-family: "Lobster", "Times", serif;
	font-size: 1em;
	color:#FFF;
	border-radius:5px; 
background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,0.72) 51%, rgba(216,225,231,0.5) 93%, rgba(224,239,249,0.46) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(51%, rgba(181,198,208,0.72)), color-stop(93%, rgba(216,225,231,0.5)), color-stop(100%, rgba(224,239,249,0.46)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,0.72) 51%, rgba(216,225,231,0.5) 93%, rgba(224,239,249,0.46) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,0.72) 51%, rgba(216,225,231,0.5) 93%, rgba(224,239,249,0.46) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,0.72) 51%, rgba(216,225,231,0.5) 93%, rgba(224,239,249,0.46) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(181,198,208,0.72) 51%, rgba(216,225,231,0.5) 93%, rgba(224,239,249,0.46) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}