/* CSS Document */
body{
/*background:url(../img/fondo.png) no-repeat center center fixed;*/
background:url(../img/rest12.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.titulo{
	color:#FFF;
	font-family: "Lobster", "Times", serif;
	font-size: 2.5em;
	text-shadow: #aaa 2px 2px 2px;
}
.input{
	width:80%;
	height:30px;
	text-align:center;
	background-color:transparent;
	border-radius:10px;
	color:#FFF;
	
}
button{
	border: solid white 1px;
	font-family: "Lobster", "Times", serif;
	font-size: 1em;
}
.welcome{
	color:#FFF;
	font-family: "Lobster", "Times", serif;
	font-size: 1.8em;
	text-shadow: #aaa 2px 2px 2px;
}
.opciones{
	color:#E6E6E6;
	font-size: 1.2em;
	text-decoration:inherit
}